name: build and push docker image

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'

jobs:

  buildpush:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip docker]') }}
    env:
      IMAGE_NAME: "matthewcalbert/devcode-backend-todo-challenge"

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PAT }}

      - name: 'Build image and push to Docker Hub and DockerHub Registry'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./cmd/server/Dockerfile.prod
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
  